/* Reset padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    transition: background 0.5s ease;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    flex-direction: column;
}

header {
    position: absolute;
    top: 20px;
    right: 20px; /* Coloca as bandeiras no lado direito */
    text-align: center;
}

nav {
    display: inline-block;
}

.language-btn {
    margin: 0 10px;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.language-btn img {
    width: 40px;
    height: 40px;
}

.language-btn:hover {
    background-color: #00c3ff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 60vh;
    width: 100%;
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro h1 {
    font-size: 3.5em;
    margin-top: 70px;
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: uppercase;
}

.intro h2 {
    font-size: 2em;
    color: #00c3ff;
    font-weight: 300;
    margin-top: 10px;
}

#message {
    margin-top: 15px;
    color: #00c3ff;
    font-size: 1.2em;
}

/* Estilo para ícones sociais */
.social-icons {
    margin-top: 80px;
    display: flex;
    gap: 20px;
    transition: 0.3s;
}

.social-icons a {
    text-decoration: none;
    color: #00c3ff;
    font-size: 2em;
    transition: color 0.3s ease;
    display: flex;
    flex-direction: column; /* Coloca ícone e nome em coluna */
    align-items: center; /* Centraliza o texto abaixo dos ícones */
    transition: 0.3s;
}
.social-icons span {
    text-decoration: none;
    transition: 0.3s;
}
.social-icons a span {
    font-size: 0.8em;
    margin-top: 5px; /* Espaço entre ícone e texto */
}

.social-icons a:hover {
    color: #FFF;
    transition: 0.3s;
    .social-icons i {
        height: 0.5em;
        width: 0.5em;
        transition: 0.3s;
        
    }
    .social-icons span {
        font-size: 0.5em;
        transition: 0.3s;
    }
}

/* Seção Tecnologias */
.technologies {
    margin: 50px 0;
    margin-top: 5%;
    text-align: center;
}

.technologies h3 {
    font-size: 1.8em;
    color: #00c3ff;
}

.tech-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

}

.tech-list span {
    background-color: #0d884e6b;
    padding: 10px 15px;
    border-radius: 5px;
}

/* Estilo para a nova seção */
.new-background {
    background: linear-gradient(135deg, #03080c, #0e3294);
}

/* Seção Sobre mim */
.about-me {
    margin-top: 10px;
    text-align: justify; /* Justifica o texto */
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    color: #00c3ff;
}

.about-me h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
    margin: 0 15%;
}

.about-me p {
    display: flex;
    justify-content: space-between; /* Para alinhar a imagem e o texto */
    align-items: center;
    color: #88eb9d;
    margin-top: 20px;
    font-size: 1.2em;
    margin: 0 15%;
    
}
.about-me img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    height: 50px;
    text-align: center;
}

/* Seção de Projetos */
.projects {
    margin-top: 50px;
    width: 80%;
    max-width: 800px;
    text-align: left;
}

.projects h2 {
    font-size: 2.5em;
    color: #00c3ff;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.project-list p {
    font-size: 1.2em;
    color: #FFF;
}

/* Tornando responsivo */
@media (max-width: 768px) {
    .intro h1 {
        font-size: 2.5em;
    }

    .intro h2 {
        font-size: 1.2em;
    }

    .social-icons a {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .intro h1 {
        font-size: 2em;
    }

    .intro h2 {
        font-size: 1em;
    }

    .social-icons a {
        font-size: 1.2em;
    }
}
