<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta</title>
</head>
<body>
    <h1>Resposta da requisição: </h1>

    <span>Resposta: <%= resposta %></spam> <!-- Aqui eu estou falando que será recebido o valor email do arquivo index e exibido -->
    
</body>
</html>